html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

header {
    display: flex;
    height: 40%;
}
.container {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.profile-pic {
    width: 30%;
    background-color: brown;
}

.title-info {
    width: 70%;
    background-color:red;
}



